#stacks_in_2_page1>.s3_row {
	margin: 0 -10px;
}

#stacks_in_2_page1>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_2_page1>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_2_page1>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_2_page1>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_2_page1>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_12_page1 {
	background-color: rgba(7, 64, 128, 1.00);
	border: solid rgba(255, 255, 255, 1.00);
	border-width:  1px;
	-moz-border-radius:  4px;
	-webkit-border-radius:  4px;
	border-radius:  4px;
}

#stacks_in_13_page1 {
	font-size: 70%;
}

#stacks_in_19_page1 {
	background-color: rgba(17, 128, 64, 1.00);
	border: solid rgba(255, 255, 255, 1.00);
	border-width:  1px;
	-moz-border-radius:  4px;
	-webkit-border-radius:  4px;
	border-radius:  4px;
}

#stacks_in_20_page1 {
	font-size: 69%;
}
#stacks_in_5_page1>.s3_row {
	margin: 0 -10px;
}

#stacks_in_5_page1>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_5_page1>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_5_page1>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_5_page1>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_5_page1>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





#stacks_in_14_page1>.s3_row {
	margin: 0 -10px;
}

#stacks_in_14_page1>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_14_page1>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_14_page1>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_14_page1>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_14_page1>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





#stacks_in_31_page1>.s3_row {
	margin: 0 -10px;
}

#stacks_in_31_page1>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_31_page1>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_31_page1>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_31_page1>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_31_page1>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_48_page1 {
	background-color: rgba(17, 128, 64, 1.00);
	border: solid rgba(255, 255, 255, 1.00);
	border-width:  1px;
	-moz-border-radius:  4px;
	-webkit-border-radius:  4px;
	border-radius:  4px;
}

#stacks_in_49_page1 {
	font-size: 69%;
}

#stacks_in_50_page1 {
	background-color: rgba(7, 64, 128, 1.00);
	border: solid rgba(255, 255, 255, 1.00);
	border-width:  1px;
	-moz-border-radius:  4px;
	-webkit-border-radius:  4px;
	border-radius:  4px;
}

#stacks_in_51_page1 {
	font-size: 70%;
}
#stacks_in_34_page1>.s3_row {
	margin: 0 -10px;
}

#stacks_in_34_page1>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_34_page1>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_34_page1>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_34_page1>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_34_page1>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





#stacks_in_37_page1>.s3_row {
	margin: 0 -10px;
}

#stacks_in_37_page1>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_37_page1>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_37_page1>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_37_page1>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_37_page1>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





#stacks_in_74_page1>.s3_row {
	margin: 0 -10px;
}

#stacks_in_74_page1>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_74_page1>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_74_page1>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_74_page1>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_74_page1>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}






#stacks_in_83_page1 {
	background-color: rgba(7, 64, 128, 1.00);
	border: solid rgba(255, 255, 255, 1.00);
	border-width:  1px;
	-moz-border-radius:  4px;
	-webkit-border-radius:  4px;
	border-radius:  4px;
}

#stacks_in_84_page1 {
	font-size: 69%;
}
#stacks_in_77_page1>.s3_row {
	margin: 0 -10px;
}

#stacks_in_77_page1>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_77_page1>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_77_page1>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_77_page1>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_77_page1>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





#stacks_in_80_page1>.s3_row {
	margin: 0 -10px;
}

#stacks_in_80_page1>.s3_row>.s3_column_left {
	width: 50.00%;
}

#stacks_in_80_page1>.s3_row>.s3_column_right {
	width: 50.000000%;
}




#stacks_in_80_page1>.s3_row>.s3_column {
	padding: 0 10px;
}










@media only screen and (max-width: 770px) {



}



@media only screen and (max-width: 400px) {


	#stacks_in_80_page1>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_80_page1>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}


}





